[Desktop Entry]
Name=remotend
GenericName=Remote Desktop
Comment=Remote Desktop
Exec=remotend %u
Icon=remotend
Terminal=false
Type=Application
StartupNotify=true
Categories=Network;RemoteAccess;GTK;
Keywords=internet;
Actions=new-window;

X-Desktop-File-Install-Version=0.23

[Desktop Action new-window]
Name=Open a New Window
Exec=remotend %u
